body
  color: white
  text-align: center
  font-family: "Proxima Nova Soft"

h2
  font-family: "Brush Up"
  color: $yellow
  text-transform: uppercase
  font-size: 2.5em
  span
    color: white

p.lead
  color: $yellow
  font-size: 1em

.wraper
  +grid-column(12)

.box
  background: rgba(0, 0, 0, .75)
  padding: 1em

.slide-1, .slide-2
  padding: 1em 0

.slide-1
  background: asset-url("slide-1-bg.jpg") top center
  .minha-sampa
    text-align: left
  .minha-sampa, .counter
    +grid-column(6)
    margin-bottom: 1.5em
  .counter
    .digits-and-text
      float: right
      .digits, .text
        float: left
      .digits
        margin-right: .5em
      span.digit
        background: asset-url("counter-bg.png")
        margin-right: 2px
        display: inline-block
        width: 32px
        line-height: 39px
        font-weight: 900
        font-size: 1.75em
        &:last-child
          margin-right: 0
      .text
        text-transform: uppercase
        line-height: 19px
        text-align: left

.slide-2
  background: asset-url("slide-2-bg.jpg") left 40%

@media (max-width: 900px)
  .slide-1
    .minha-sampa, .counter
      +grid-column(12)
      text-align: center
      .digits-and-text
        float: none
        .digits, .text
          float: none
          text-align: center
        .digits
          margin-bottom: 1em
